<md-card fxLayout="column" fxLayoutAlign="none stretch">
  <div *ngFor="let postWhitAuthor of postService.postWhitAuthorStream | async | reverse">
    <app-post [postWhitAuthor]="postWhitAuthor"></app-post>
    <hr>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!postService.hideLoadMoreBtn && !(postService.isMyPostPageStream | async)  ">
    <button md-raised-button color="accent" (click)="postService.displayMorePost()">Load More.!</button>
  </div>
  <br>
  <span fxFlex></span>
  <div>
    <h5 id="dereck">@Borisdereck</h5>
  </div>
 
 
</md-card>