<md-sidenav-container>
    <md-sidenav #sidenav>
        <md-toolbar color="primary">
            Options
        </md-toolbar>
        <md-nav-list>
            <a md-list-item (click)="sidenav.toggle()" [routerLink]="['/']">All Posts</a>
            <a md-list-item (click)="sidenav.toggle()" [routerLink]="['/myposts']">My Posts</a>
            <hr>
            <a md-list-item (click)="sidenav.toggle();AuthService.signOut()">Sign Out</a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button *ngIf="AuthService.isSignedInStream | async" (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        Quick Chat
        <span fxFlex></span>
            {{AuthService.displayName}}
        
    </md-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-container>